.banner-backgrnd{
  background-color: #2b8687;
}
.banner{
  height: 40vh;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 0;
}
.banner-title{
  color: white;
}
.banner-inner-wrap{
  width: 70%;
  margin-left: auto;
}
.banner-inner-wrap .banner-btn{
  width: 30%;
  border: 2px solid white;
  color: white;
}
.banner-inner-wrap .banner-btn:hover{
  color: #0AB3A3;
  background-color: white;
}
