.card{
	border-radius: 0;
	border: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.card-img-link-wrap{
	overflow: hidden;
	height: 400px;
}
.card-img-link{
	transition: transform linear .2s;
}
.card-img-link:hover{
	transform: scale(1.1);
	transition: transform linear .2s;
}
.meta.author{
	font-size: .8rem
}
.meta.price{
	color: #0AB3A3;
	margin-bottom: 0;
	margin-top: auto;
}
.card .card-footer-custom{
	background-color: transparent;
	border-top: 0;
}
.link-to-all>a{
	color: #0AB3A3;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.1rem;
}
.link-to-all>a>i{
	margin-left: 10px;
}
.link-to-all>a:hover{
	text-decoration: none;
	color: #0AB3A3;
}
.card-title a{
	color: black;
}
.card-title a:hover{
	text-decoration: none;
	color: #0AB3A3;
}

