.cart-item{
  height: auto;
  background-color: white;
}

.cart-item img{
  margin: 5px;
}

.quantity-input{
  width: 50px;
}

.empty-cart-img{
  background-image: url('/dribbble.jpg');
  width: 550px;
  height: 400px;
  background-size: cover;
}
.empty-cart-img+h4{
  margin-top: -50px;
  text-align: center;
}