#nav {
  width: 320px;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -320px;
  padding: 15px 20px;
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  /* поверх других элементов */
  z-index: 2000;
  background-color: black;
}

/**
* Кнопка переключения панели
* тег <label>
*/

.nav-toggle {
  position: absolute;
  padding: 0.5rem;
  width: 150px;
  background: white;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1;
  /* всегда поверх других элементов страницы */
  z-index: 2001;
  /* анимируем цвет текста при наведении */
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.nav-toggle::before {
  content: '\2630';
  text-decoration: none;
  margin-right: 5px;
}
.nav-toggle::after{
  content: '\274C';
  text-decoration: none;
  color: white;
  opacity: .7;
}
[id='nav-toggle'] ~ .nav-toggle::after {
  display: none;
}
/**
* Скрытый чекбокс (флажок)
* невидим и недоступен :)
* имя селектора атрибут флажка
*/

[id='nav-toggle'] {
  position: absolute;
  display: none;
}

/**
* изменение положения переключателя 
* при просмотре на мобильных устройствах
* когда навигация раскрыта, распологаем внутри панели
*/
[id='nav-toggle']:checked ~ .nav-toggle {
  left: 265px;
  width: auto;
  top: 10px;
  background-color: transparent;
}

[id='nav-toggle']:checked ~ .nav-toggle>span{
  display: none;
}
[id='nav-toggle']:checked ~ .nav-toggle::before {
  display: none;
}
[id='nav-toggle']:checked ~ .nav-toggle::after {
  display: block;
}
/**
* Когда флажок установлен, открывается панель
* используем псевдокласс:checked
*/

[id='nav-toggle']:checked ~ #nav {
  left: 0;
  overflow-y: auto;
}

#nav > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav > ul > li {
  line-height: 2.5;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
  -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
  -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
  transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ #nav > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* определяем интервалы появления пунктов меню */

#nav > ul > li:nth-child(2) {
  -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
  transition: opacity .5s .2s, transform .5s .2s;
}

#nav > ul > li:nth-child(3) {
  -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
  transition: opacity .5s .3s, transform .5s .3s;
}

#nav > ul > li:nth-child(4) {
  -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
  transition: opacity .5s .4s, transform .5s .4s;
}

#nav > ul > li:nth-child(5) {
  -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
  transition: opacity .5s .5s, transform .5s .5s;
}

#nav > ul > li:nth-child(6) {
  -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
  transition: opacity .5s .6s, transform .5s .6s;
}

#nav > ul > li:nth-child(7) {
  -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
  transition: opacity .5s .7s, transform .5s .7s;
}

#nav > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0;
  font-weight: 300;
  font-size: 1.2em;
  color: #dadada;
  width: 100%;
  text-decoration: none;
  /* плавный переход */
  -webkit-transition: color .5s ease, padding .5s ease;
  -moz-transition: color .5s ease, padding .5s ease;
  transition: color .5s ease, padding .5s ease;
}

/**
* состояние ссылок меню при наведении
*/

#nav > ul > li > a:hover,
#nav > ul > li > a:focus {
  color: white;
  padding-left: 15px;
}

#nav > ul > li>a:active #nav{
  left: -320px;
}


 